* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

$cyan: hsl(180, 62%, 55%);
$red: hsl(0, 78%, 62%);
$orange: hsl(34, 97%, 64%);
$green: hsl(83deg 81% 49%);
$white: #fff;
$dark: #333;

body {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  overflow-x: hidden;
  // background-color: rgba(40, 114, 108, 1);
  background: #09091d url("./bg.avif") no-repeat center center/cover fixed;
  width: 100%;
  height: 100%;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(9, 9, 29, 0.25);
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.main-info {
  #content {
    .card-div {
      margin: 0.5rem auto;
      padding: 0;
      text-align: center;
      border-radius: 15px;
      box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
      overflow: hidden;
      position: relative;
      margin: 1rem;
      width: 100%;
      max-width: 290px;
      &:nth-child(2n) {
        border-top: 5px solid $cyan;
      }
      &:nth-child(2n + 1) {
        border-top: 5px solid $red;
      }
      &:nth-child(3n + 1) {
        border-top: 5px solid $orange;
      }
      &:nth-child(4n + 1) {
        border-top: 5px solid $green;
      }

      .img-wrapper {
        max-width: 22rem;
        text-align: center;
        overflow: hidden;
        margin-inline: auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: all 0.3s ease-in-out;
        }
      }

      .card-content {
        transition: color 0.3s ease-in-out;
        color: $dark;
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 0;
          width: 100%;
          z-index: -1;
          transition: all 0.45s ease-in;
        }
      }

      &:hover {
        img {
          scale: 1.1;
        }
        .card-content {
          color: $white;
          &:before {
            bottom: 0;
            height: 100%;
            transition: all 0.3s ease-out;
          }
        }

        &:nth-child(2n) {
          .card-content {
            &:before {
              background-color: $cyan;
            }
          }
        }
        &:nth-child(2n + 1) {
          .card-content {
            &:before {
              background-color: $red;
            }
          }
        }
        &:nth-child(3n + 1) {
          .card-content {
            &:before {
              background-color: $orange;
            }
          }
        }
        &:nth-child(4n + 1) {
          .card-content {
            &:before {
              background-color: $green;
            }
          }
        }
      }
    }
  }
}
